:root {
  --ship-color: rgb(53, 188, 233);
  --hit-color: rgb(255, 71, 71);
  --miss-color: gray;
  --sunk-color: black;
}

.gameboard {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(10, 5vmin);
  grid-template-rows: repeat(10, 5vmin);
}

.cell {
  box-sizing: border-box;
  border: 1px solid #000000;
}

.ship {
  background-color: var(--ship-color);
}

.ship.hit {
  background-color: var(--hit-color);
}

.ship.sunk {
  background-color: var(--sunk-color);
}

.hit {
  background-color: var(--miss-color);
}

.gameboard.highlight-hover .cell.dragging-over {
  background-color: green;
}
