#setup-game-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#setup-game-form h1 {
  margin: 0;
}

#setup-game-form .form-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

#setup-game-form label {
  font-weight: 600;
  font-size: 1.5rem;
  flex-shrink: 0;
}

#setup-game-form input[type="text"] {
  flex: 1;
  min-width: 20ch;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--font-color);
  border-radius: 0.5rem;

  color: var(--font-color);
  font-family: var(--font-family);
}

#setup-game-form input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
}

#setup-game-form button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 5px 5px black;
  background-color: var(--theme-color);
  color: var(--font-color);
  font-family: var(--font-family);
  margin: auto;
  cursor: pointer;
}

#setup-game-form button:active {
  translate: 5px 5px;
  box-shadow: none;
}
