.panels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50vmin, 1fr));
  gap: 1rem;
}

.form-container {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.setup-board-form-container {
  display: grid;
  gap: 1rem;
}

.setup-board-form {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
}

.setup-board-form fieldset {
  padding: 1rem;
  padding-bottom: 2rem;
  position: relative;
  display: grid;
  gap: 1rem;
  border: 1px solid var(--font-color);
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.setup-board-form fieldset.valid {
  border: 2px solid green;
}

.setup-board h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.setup-board-form fieldset .icon-container {
  width: 2rem;
  height: 2rem;
}

.draggable-place-ship {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.pointer {
  background-image: url("./icons/pointer.svg");
}

.draggable-place-ship-icon {
  cursor: grab;
}

.draggable-place-ship-icon:active {
  cursor: grabbing;
}

.setup-board-form .form-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.setup-board-form label {
  font-weight: 600;
  font-size: 1rem;
  flex-shrink: 0;
  flex-basis: 2rem;
}

.setup-board-form input,
.setup-board-form select {
  width: 4rem;
  flex: 1;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--font-color);
  border-radius: 0.5rem;
  color: var(--font-color);
  font-family: var(--font-family);
}

.setup-board-form select {
  flex-basis: 6rem;
}

.setup-board-form input.invalid {
  border-color: red;
}

.error-message {
  position: absolute;
  bottom: 0;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: red;
  color: white;
  font-size: 0.8rem;
  border-radius: 0 0 0.5rem 0.5rem;
  border: 1px solid red;
  font-weight: 600;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 0.2s ease-in-out;
}
.error-message:not(:empty) {
  transform: scaleY(1);
}

.setup-board-form-container .submit-board {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--theme-color);
  font-family: var(--font-family);
  margin: auto;
}

.setup-board-form-container .submit-board:not(:disabled) {
  color: var(--font-color);
  cursor: pointer;
  box-shadow: 5px 5px black;
}

.setup-board-form-container .submit-board:active:not(:disabled) {
  box-shadow: none;
  translate: 5px 5px;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: start;
}

.panels .gameboard {
  position: sticky;
  top: 25vh;
}
